<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="vue.js"></script>
  <script src="vuex.js"></script>
  <script src="vue-router.js"></script>
</head>
<body>

<div id="hdcms">
  <Lists></Lists>
  <Footer-Cart></Footer-Cart>
</div>

<template id="Lists">
  <div>
    <table border="1"
      width="60%"
      :style="{textAlign: 'center'}">
      <tr>
        <th>名称</th>
        <th>价格</th>
        <th>数量</th>
        <th>总价</th>
        <th>操作</th>
      </tr>
      <tr v-for="(v,k) in goods">
        <td>{{v.name}}</td>
        <td>
          <input type="text"
            v-model="v.price">
        </td>
        <td>
          <input type="text"
            v-model="v.num">
        </td>
        <td>
          {{v.totalPrice}}
        </td>
        <td>
          <button @click="del(k)">
            删除
          </button>
        </td>
      </tr>
    </table>
  </div>
</template>

<template id="FooterCart">
  <b>
    总价：{{countPrice}}
  </b>
</template>

</body>
</html>

<script>
  let Lists = {
    template: '#Lists',
    computed: {
      goods() {
        return this.$store.getters['cart/goods'];
      }
    },
    methods: {
      del(k) {
        // 调用 mutations
        return this.$store.commit('cart/del', {
          k
        })
      }
    }
  }

  let FooterCart = {
    template: '#FooterCart',
    computed: {
      countPrice() {
        return this.$store.getters['cart/countPrice'];
      },
    }
  }

  const cartModule = {
    namespaced: true,
    state: {
      goods: [
        {name: 'oldSix', price: 1000, num: 1},
        {name: 'tt', price: 800, num: 1},
        {name: 'switch', price: 200, num: 2},
        {name: 'iphone', price: 600, num: 4},
      ]
    },
    // 获取仓库里面的数据
    getters: {
      countPrice(state) {
        return state.goods.reduce((pre, cur) => pre + cur.price * cur.num, 0)
      },
      goods(state) {
        let goods = state.goods;
        console.log(goods)
        goods.forEach(item => {
          item.totalPrice = item.price * item.num
        })
        console.log(goods)
        return goods
      }
    },
    // 修改仓库里面的数据
    mutations: {
      del(state, params) {
        console.log(params)
        return state.goods.splice(params.k, 1);
      }
    }
  }

  // 数据共享
  let store = new Vuex.Store({
    modules: {
      cart: cartModule
    }
  })

  const app = new Vue({
    el: '#hdcms',
    store,
    computed: {},
    components: {
      Lists,
      FooterCart
    }
  })
</script>
